* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

a {
  color: #fff;
  text-decoration: none;

  transition: color 0.5s;
}

a:hover {
  color: #fed136;
}

.content {
  position: relative;

  width: 980px;
  margin: 0 auto;
}

.welcome {
  background: #555 url('../img/top-bg-min.jpg') no-repeat;
  -webkit-background-size: cover;
  background-size: cover;
}

.fixed-header {
  position: fixed;
  z-index: 1;

  width: 100%;
  padding-bottom: 40px;

  background: rgba(57, 57, 57, 0.3);
}

.fixed-header .content {
  padding: 0 25px;
}

.fixed-header .content::after {
  content: "";
  display: block;
  clear: both;
}

.fixed-header__logo {
  float: left;
  padding-top: 44px;
}

.fixed-header__menu {
  float: right;
  padding-top: 52px;

  font-size: 1.349em;
  text-transform: uppercase;
  font-family: 'Montserrat', sans-serif;

  color: #fff;
}

.menu-item {
  display: inline-block;
  padding-left: 41px;
}

.greeting {
  padding: 273px 0 160px;
  text-align: center;
}

.greeting__text {
  padding-bottom: 26px;

  font-family: 'Droid Serif', serif;
  font-style: italic;
  text-transform: capitalize;
  font-size: 3.85em;

  color: #ffffff;
}

.greeting__title {
  padding-bottom: 41px;

  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 7.28em;

  color: #ffffff;
}

.more-btn {
  padding: 23px 52px;

  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 1.8em;

  color: #ffffff;
  background: #fed136;
  border: none;  
  border-radius: 3px;
  cursor: pointer;

  transition: color 0.5s, background 0.5s;
}

.more-btn:hover {
  color: #565656;
  background: #fff;
}

.services {
  padding: 0;

  text-align: center;
  font-size: 0;
}

.services__item {
  display: inline-block;
  width: 33.33%;
  padding-top: 71px;
  padding-bottom: 120px;

  vertical-align: top;
}

.services__title {
  padding-top: 112px;

  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 3.7rem;
}

.services__text {
  padding-top: 11px;

  font-family: 'Droid Serif', serif;
  font-style: italic;
  font-size: 1.6rem;

  color: #777777;
}

.services__ecommerce-icon {
  display: block;
  width: 80px;
  height: 79px;
  margin: 0 auto;

  background: url("../img/services.png");
  background-position: 0 0;
}

.services__responcive-icon {
  display: block;
  width: 80px;
  height: 79px;
  margin: 0 auto;

  background: url("../img/services.png");
  background-position: 165px 0;
}

.services__security-icon {
  display: block;
  width: 80px;
  height: 79px;
  margin: 0 auto;

  background: url("../img/services.png");
  background-position: 80px 0;
}

.services__item__title {
  padding-top: 20px;

  font-family: 'Montserrat', sans-serif ;
  font-weight: 700;
  font-size: 1.7rem;
}

.services__item__text {
  padding: 13px 22px 0;

  font-family: 'Roboto Slab', serif;
  font-size: 1.35rem;
  line-height: 1.5;

  color: #777777;
}

.portfolio {
  padding: 0 0 120px;

  text-align: center;
  font-size: 0;

  background: #f7f7f7;
} 

.portfolio__item {
  display: inline-block;
  width: 33.33%;
  padding-top: 50px;

  vertical-align: top;
}

.portfolio__title {
  padding-top: 108px;

  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 3.9rem;
}

.portfolio__text {
  padding-top: 8px;
  padding-bottom: 26px;

  font-family: 'Droid Serif', serif;
  font-style: italic;
  font-size: 1.6rem;

  color: #777777;
}

.portfolio__item__title {
  padding-top: 27px;
  margin: 0 18px;

  font-family: 'Montserrat', sans-serif ;
  font-weight: 700;
  font-size: 1.7rem;

  background: #ffffff;
}

.portfolio__item__text {
  padding: 1px 22px 23px;
  margin: 0 18px;

  font-family: 'Roboto Slab', serif;
  font-size: 1.35rem;
  font-style: italic;
  line-height: 1.5;

  color: #777777;
  background: #ffffff;
}

.about {
  padding: 0 0 120px;

  text-align: center;
  font-size: 0;

  background: #ffffff;
} 

.about__item {
  width: 66.65%;
  padding-bottom: 93px;
}

.about__title {
  padding-top: 115px;

  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 3.9rem;
}

.about__sub-title {
  padding-top: 11px;
  padding-bottom: 75px;
  
  font-family: 'Droid Serif', serif;
  font-style: italic;
  font-size: 1.6rem;

  color: #777777;
} 

.about .items-wrapper {
  background: url("../img/vline-min.jpg") repeat-y;
  background-position: 50% 0;
}

.about .items-wrapper::after {
  content: "";
  display: block;
  clear: both;
}

.about__item:nth-child(2n-1) {
  float: left;
}

.about__item:nth-child(2n) {
  float: right;
}

.about__last-item {
  width: 180px;
  height: 180px;
  margin: 0 auto;

  background: #fed136;
  border: 6px solid #f1f1f1;
  border-radius: 50%;
}

.about__last-item p {
  padding: 33px 31px;

  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  font-size: 1.8rem;
  text-transform: uppercase;
  line-height: 1.5;

  color: #fff;
}

.about__text {
  display: inline-block;
  width: 50%;
  padding-top: 2px;

  vertical-align: top;
}

.about__text:nth-child(2n-1) {
  text-align: right;
  padding-right: 40px;
}

.about__text:nth-child(2n) {
  text-align: left;
  padding-left: 40px;
}

.about__date {
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 1.7rem;
}

.about__item__title {
  padding-top: 5px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  text-transform: capitalize;
  font-size: 1.7rem;
}

.about__item__text {
  padding-top: 13px;

  font-family: 'Roboto Slab', serif;
  font-size: 1.3rem;
  line-height: 1.7;

  color: #777777;
}

.team {
  padding: 10px 0;

  text-align: center;
  font-size: 0;
}

.team__person {
  display: inline-block;
  width: 33.33%;
  padding-top: 78px;
  padding-bottom: 45px;

  vertical-align: top;
}

.team__title {
  padding-top: 100px;

  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 3.7rem;
}

.team .items-wrapper {
  padding: 0 70px;
}

.team__text {
  padding-top: 11px;

  font-family: 'Droid Serif', serif;
  font-style: italic;
  font-size: 1.6rem;

  color: #777777;
}

.person__photo {
  height: 220px;
  width: 220px;
  overflow: hidden;
  margin: 10px auto;

  background: #000;
  border-radius: 50%;
}

.person__name {
  padding-top: 11px;

  font-family: 'Montserrat', sans-serif ;
  font-weight: 700;
  font-size: 1.6rem;
}

.person__profession {
  padding: 5px 22px 3px;

  font-family: 'Roboto Slab', serif;
  font-size: 1.35rem;
  text-transform: capitalize;
  line-height: 1.5;

  color: #777777;
}

.social__item {
  display: inline-block;
  padding: 5px;
}

.social__twitter-icon {
  display: block;
  width: 41px;
  height: 41px;

  background: url('../img/social.png');
  background-position: 97px -5px;
}

.social__twitter-icon:hover {
  background-position: 45px -4px;
}

.social__fb-icon {
  display: block;
  width: 41px;
  height: 41px;

  background: url('../img/social.png');
  background-position: -5px -5px;
}

.social__fb-icon:hover {
  background-position: -57px -5px;
}

.social__pient-icon {
  display: block;
  width: 41px;
  height: 41px;

  background: url('../img/social.png');
  background-position: 148px -5px;
}

.social__pient-icon:hover {
  background-position: 198px -5px;
}

.social__gplus-icon {
  display: block;
  width: 41px;
  height: 41px;

  background: url('../img/social.png');
  background-position: 300px -5px;
}

.social__gplus-icon:hover {
  background-position: 250px -5px;
}

.team__text-after {
  padding: 0 170px;

  font-family: 'Roboto Slab', serif;
  font-size: 1.55rem;

  color: #777777;
}

.brands {
  vertical-align: top;
  padding-top: 150px;
  padding-bottom: 40px;
  text-align: center;
}

.brands__item {
  display: inline-block;
  padding: 19px;

  vertical-align: middle;
}

.contact-us {
  padding: 10px 0 110px;

  text-align: center;
  font-size: 0;

  background: #000 url('../img/footerbg-min.jpg');
}

.contact-us__title {
  padding-top: 93px;

  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 4rem;

  color: #ffffff;
}

.contact-us__text {
  padding-top: 11px;

  font-family: 'Droid Serif', serif;
  font-style: italic;
  font-size: 1.6rem;

  color: #777777;
}

.send-btn {
  padding: 22px 44px;
  margin-top: -5px;

  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 1.9rem;

  color: #ffffff;
  background: #fed136;
  border: none;  
  border-radius: 3px;

  cursor: pointer;
  transition: color 0.5s, background 0.5s; 
}

.send-btn:hover {
  color: #565656;
  background: #fff;
}

.contact-form {
  width: 96%;
  margin: 0 auto;
  padding-top: 77px;

  text-align: center;
}

.contact-form__input-group {
  display: inline-block;
  margin-right: 30px;
  width: 48%;

  vertical-align: top;

  border: none;
}

.contact-form__message {
  display: inline-block;
  width: 48%;

  border: none;
}

.contact-form__input-field {
  display: block;
  width: 100%;
  margin-bottom: 30px;
  padding: 16px;

  font-family: 'Montserrat';
  font-weight: 700;
  font-size: 1.5rem;
  text-transform: uppercase;

  color: #555555;
  border: 1px solid #cccccc;
  border-radius: 3px;
}

.contact-form__text-field {
  width: 100%;
  padding: 14px;

  font-family: 'Montserrat';
  font-weight: 700;
  font-size: 1.5rem;

  color: #555555;
  resize: none;
  border: 1px solid #cccccc;
  border-radius: 3px;
}

.bottom {
  position: relative;
  
  padding: 18px;

  text-align: center;
}

.bottom .copy,
.bottom .social {
  display: inline-block;
  vertical-align: middle;
}

.copy {
  position: absolute;

  top: 33%;
  left: 15px;

  font-family: 'Montserrat', sans-serif;
  font-size: 14px;

  color: #555555;
}

.bottom .social__item {
  padding: 3px;
}

.social__twitterbot-icon {
  display: block;
  width: 41px;
  height: 41px;

  background: url('../img/social.png');
  background-position: 45px -4px;
}

.social__twitterbot-icon:hover {
  background-position: 97px -5px;
}

.social__fbbot-icon {
  display: block;
  width: 41px;
  height: 41px;

  background: url('../img/social.png');
  background-position: -57px -5px;
}

.social__fbbot-icon:hover {
  background-position: -5px -5px;
}

.social__pientbot-icon {
  display: block;
  width: 41px;
  height: 41px;

  background: url('../img/social.png');
  background-position: 198px -5px;
}

.social__pientbot-icon:hover {
  background-position: 148px -5px;
}

.social__gplusbot-icon {
  display: block;
  width: 41px;
  height: 41px;

  background: url('../img/social.png');
  background-position: 250px -5px;
}

.social__gplusbot-icon:hover {
  background-position: 300px -5px;
}